.card {
  padding: 24px;
}

.container {
  margin-top: 55px;
}

ngx-datatable {
  margin-top: 16px !important;
}

mat-form-field {
  width: 100%;
}

.i-delete {
  cursor: pointer !important;
  color: red !important;
}

.i-edit {
  cursor: pointer;
  color: cadetblue;
}

