<app-layout>

  <section fxLayout="row wrap" class="container">

    <div fxFlex="100" fxLayoutAlign="end center">
      <button mat-button color="primary" routerLink="/procedimento/new"> NOVO PROCEDIMENTO </button>
    </div>

    <div fxFlex="100">
      <ngx-datatable
        [columnMode]="'force'"
        [footerHeight]="50"
        [headerHeight]="50"
        [limit]="10"
        [messages]="{emptyMessage:'Nenhum resultado encontrado.', totalMessage : 'Resultados'}"
        [rows]="data"
        class="material"
        rowHeight="auto"
        id="datatable">

        <ngx-datatable-column name="ID" prop="id"></ngx-datatable-column>

        <ngx-datatable-column name="Nome" prop="nome" [minWidth]="220">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row['nome'] }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Detalhes" prop="detalhes" [minWidth]="220">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row['detalhe'] }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Ativo" prop="ativo" [minWidth]="220">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row['ativo'] }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [maxWidth]="100" name="Ações">
          <ng-template let-row="row" ngx-datatable-cell-template>
              <div fxLayout="row wrap">
                  <div fxFlex="50">
                    <mat-icon class="i-edit" routerLink="/condicao/{{row.id}}">edit</mat-icon>
                  </div>

                <div fxFlex="50">
                  <mat-icon class="i-delete" (click)="delete(row.id)">delete</mat-icon>
                </div>
              </div>
          </ng-template>
        </ngx-datatable-column>


      </ngx-datatable>
    </div>

  </section>
</app-layout>
