<mat-list>
  <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
    <mat-icon>home</mat-icon>
    Dashboard
  </mat-list-item>
  <br>

  <mat-list-item routerLink="{{routes.PESSOAS}}" routerLinkActive="active">
    <mat-icon>people</mat-icon>
    Pessoas
  </mat-list-item>

  <mat-list-item routerLink="{{routes.CONDICOES}}" routerLinkActive="active">
    <mat-icon>medical_services</mat-icon>
    Condicoes
  </mat-list-item>
  <mat-list-item routerLink="{{routes.ITENS}}" routerLinkActive="active">
    <mat-icon>add_business</mat-icon>
    Itens
  </mat-list-item>
  <mat-list-item routerLink="{{routes.PROCEDIMENTOS}}" routerLinkActive="active">
    <mat-icon>add_business</mat-icon>
    Procedimentos
  </mat-list-item>
<!--  <mat-list-item routerLink="{{routes.CONSULTA}}" routerLinkActive="active">-->
<!--    <mat-icon>event_available</mat-icon>-->
<!--    Consulta-->
<!--  </mat-list-item>-->
</mat-list>
