<mat-list>
  <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
    <mat-icon>home</mat-icon>
    Dashboard
  </mat-list-item>
  <br>

  <mat-list-item routerLink="{{routes.PESSOAS}}" routerLinkActive="active">
    <mat-icon>people</mat-icon>
    Pessoas
  </mat-list-item>

  <mat-list-item routerLink="{{routes.TRATAMENTOS}}" routerLinkActive="active">
    <mat-icon>medical_services</mat-icon>
    Tratamentos
  </mat-list-item>
  <mat-list-item routerLink="{{routes.CLINICAS}}" routerLinkActive="active">
    <mat-icon>add_business</mat-icon>
    Clínicas
  </mat-list-item>

</mat-list>
