<app-layout>

  <section class="container">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <section fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="33">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome" [(ngModel)]="pessoa.nome">
          </mat-form-field>
        </div>

        <div fxFlex="33">
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" [(ngModel)]="pessoa.email">
          </mat-form-field>
        </div>

        <div fxFlex="33">
          <mat-form-field appearance="outline">
            <mat-label>Celular</mat-label>
            <input  matInput formControlName="celular" [(ngModel)]="pessoa.celular" type="number">
          </mat-form-field>
        </div>

        <div fxFlex="33">
          <mat-form-field appearance="outline">
            <mat-label>Documento</mat-label>
            <input matInput formControlName="cpf" [(ngModel)]="pessoa.cpf">
          </mat-form-field>
        </div>

        <div fxFlex="33">
          <mat-form-field appearance="outline">
            <mat-label>RG</mat-label>
            <input matInput formControlName="rg" [(ngModel)]="pessoa.rg">
          </mat-form-field>
        </div>



        <div fxFlex="100" fxLayoutAlign="end center">
          <button mat-button color="primary" (click)="onSubmit()" [disabled]="form.invalid"> Salvar</button>
        </div>
      </section>
    </form>
  </section>
</app-layout>
